@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul li{
    list-style: none;
}
body{
    background-color: #111;
    color: #fff;
}
/*HEADER SECTION*/
header{
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6) ), url('https://freddygutierrez.netlify.app/img/intro-bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.header-mobile{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    text-transform: uppercase;
    position: fixed;
    height: 3rem;
    z-index: 150;
}
.header-mobile h2{
    font-weight: 600;
}
.header-mobile a{
    color: white;
    position: absolute;
    right: 1rem;
    font-size: 1.6rem;
}

.header-main{
    background: hsl(0, 0%, 7%);
    position: fixed;
    height: 100%;
    width: 5rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
    left: -25%;
    bottom: auto;
    z-index: 200;
    overflow: hidden;
}
.show-nav{
    left: 0;
    bottom: auto;
    transition: all 0.5s ease;
}
.header-main .logo{
    margin: 1rem 0;
}
.header-main .logo img{
    width: 60%;
}
.header-main ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-main ul li a{
    color: white;
    font-size: 1.6rem;
    margin: 1rem 0;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.banner{
    margin: 0 auto;
    text-align: center;
    color: white;
}
.options{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 1rem;
}
.lang ul{
    display: flex;
    margin-left: 1rem;
}
.lang ul li a{
    margin-right: 0.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.lang-active{
    border-bottom: 1px solid #d94c48;
    font-weight: 500;
}
.social{
    text-align: center;
}
.social ul li a{
    color: white;
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
}
/*ABOUT ME*/
.main{
    position: fixed;
    top: 0;
    display: none;
    transition: all 1s ease-in-out;
    height: 0px;
    width: 100%;
}
.show-main{
    position: absolute!important;
    display: initial;
    transition: all 1s ease-in-out;
    height: 100%;
    z-index: 100;
}
.about-me{
    background-color: #111;
    height: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
.my-info h2:first-child{
    padding-top: 5rem;
    font-size: 2rem;
    font-weight: 600;
}
.my-info h2{
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.my-info img.separador{
    width: 30%;
}
.my-info img.img-me{
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    margin: 1.5rem 0;
}
.my-info .card{
    background: rgba(0, 0, 0,.7);
    margin: 2rem 1.5rem;
    border-radius: 0.9rem;
}
.grid-one h3,
.grid-one p{
    text-align: start;
    margin: 0.8rem;
}
.grid-one .text-red{
    color: #d94c48;
}
.grid-two{
    text-align: start;
    display: flex;
    flex-direction: column;
}
.info-icon{
    display: flex;
    margin: 2rem;
}
.info-icon i{
    text-align: center;
    font-size: 1.5rem;
    border-radius: 100%;
    border: 1px solid #d94c48;
    padding: 0.5rem;
    width: 45px;
    height: 45px;
    background-color: #0e0f10;
}
.desc-icon{
    margin-left: 0.5rem;
}
.desc-icon h6{
    font-size: 0.92rem;
}
.desc-icon p{
    font-size: 0.7rem;
    color: #d94c48;
}
.cv-boton{
    text-align: center;
    width: 60%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: rgb(14, 15, 16);
    margin: 0 0 1rem 1rem;
    color: white;
    transition: all 0.5s ease-in-out;
}
.cv-boton:hover{
    background-color: rgba(14, 15, 16, 0.2);
    border-left: 1px solid #d94c48;
    transition: all 0.5s ease-in-out;
}
.down-cv{
    border-bottom: 1px solid #d94c48;
    color: white;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    width: 100%;
}
.down-cv:hover{
    border-bottom: 0;
    color: white;
    transition: all 0.5s ease-in-out;
}

.card-two{
    background: rgba(0, 0, 0,.7);
    padding: 2rem 0;
    margin: 2rem 1rem;
    border-radius: 0.9rem;
}
.interest-elem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.interest-elem i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 0 0 1rem;
    background-color: #0e0f10;
    margin-right: 0.15rem;
    width: 20%;
    font-size: 1.2rem;
    height: 3rem;
    color: #d94c48;
}
.interest-elem h6{
    display: flex;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    background-color: red;
    width: 80%;
    font-size: 1rem;
    height: 3rem;
    text-align: left;
    padding: 0.5rem;
    background-color: #0e0f10;
    font-weight: 300;
}

.grid-services{
    display: grid;
    grid-template-columns: 1fr;
}
.services-item{
    margin: 1.5rem 1rem;
    background-color: rgba(0, 0, 0,.7);
    padding: 2rem;
    border-radius: 1rem;
}
.services-item i,
.services-item h3,
.services-item p{
    margin: 0.8rem 0;
}
.services-item i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 100%;
    background-color: #0e0f10;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    color: #d94c48;
}
.services-item h3{
    font-weight: 600;
    font-size: 1.1rem;
}
.services-item p{
    font-size: 0.8rem;
}

/* Resume Section*/
.education h2{
    margin-top: 5rem;
}
.resume{
    text-align: center;
    position: fixed;
    top: 0;
    display: none;
    transition: all 1s ease-in-out;
    height: 0px;
    background-color: #111;
    margin-bottom: 3rem;
}
.show-resume{
    position: absolute!important;
    display: initial;
    transition: all 1s ease-in-out;
    height: 100%;
    z-index: 100;
}
.resume h2.p-title{
    border-bottom: 2px solid #d94c48;
    width: 50%;
    margin: 5rem auto;
    font-size: 2.5rem;
}
.resume img{
    width: 30%;
}
.card-xp{
    background-color: rgba(0, 0, 0,.7);
    margin: 0.8rem;
    border-radius: 1.5rem;
}
.xp-item{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1.5rem 0.5;
    padding: 1rem 2rem;
    text-align: start;
}
.xp-item::before{
    content: "O-";
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: #d94c48;
    width:2px;
    height: 80%;
    color: #d94c48;
    z-index: 1;
}
.xp-item h4{
    font-size: 1.2rem;
}
.xp-item p{
    font-size: 0.9rem;
}
.xp-item h4,
.xp-item p{
    margin: 0.4rem 0 0 0.5rem;
}
.fecha-xp{
    color: #d94c48;
    font-size: 0.75rem;
}
.skills{
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0,.7);
    text-align: center;
    border-radius: 1rem;
    margin: 1.5rem 1rem;
}
.section-skills img{
    margin:0 auto;
    width: 30%;
}
.section-skills h2{
    margin-top: 5rem;
}
.skill-item{
    padding: 1rem;
}
.skill-item i,
.skill-item p,
.skill-item span{
    margin: 1rem 0;
}
.skill-item i{
    font-size: 3rem;
    color: #fff;
    background: #d94c48;
    padding: 1rem 1.5rem;
    border-radius: 1rem 2rem 0.5rem;
}
.skill-item p{
    font-weight: 900;
    font-size: 1.2rem;
}
.skill-item span{
    color: rgba(255, 255, 255, 0.5);
}
.skill-bl{
    border-right: 2px solid #d94c48;
}
.skill-br{
    border-left: 2px solid #d94c48;
}

/*PORTAFOLIO*/
.portfolio{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    display: none;
}
.show-portfolio{
    position: absolute!important;
    display: initial;
    transition: all 1s ease-in-out;
    z-index: 100;
}
.ico-active {
    color: #d94c48!important;
}

/*CONTACT*/
.contact{
    text-align: center;
    position: fixed;
    top: 0;
    display: none;
    transition: all 1s ease-in-out;
    background: #0e0f10;
    width: 100%;
}
.show-contac{
    position: absolute!important;
    display: initial;
    transition: all 1s ease-in-out;
    z-index: 100;
}


.contact h2{
    width: 50%;
    margin: 5rem auto;
    font-size: 2.3rem;
    margin-bottom: 0;
}
.contact img.separador{
    width: 30%;
}
.contact form{
    background-color: rgba(0, 0, 0,.7);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
}
.contact form input,
.contact form textarea{
    margin: 0.5rem 1rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}
.contact form input:focus,
.contact form textarea:focus{
    border-bottom: 2px solid #d94c48;
}
.contact form input:hover,
.contact form textarea:hover{
    border-bottom: 2px solid #d94c48;
}
.contact form input#send{
    color: white;
    border-bottom: 2px solid #d94c48;
    width: 35%;
    padding: 0;
}

.grid-contact{
    background: rgba(0, 0, 0,.7);
    border-radius: 1rem;
    margin: 2rem 1rem;
    display: grid;

}
.contact-item{
    margin: 1.5rem;
}
.contact-item i,
.contact-item p,
.contact-item span{
    margin: 1rem;
}
.contact-item i{
    font-size: 2rem;
    color: #d94c48;
}
.contact-item span{
    color: rgba(255, 255, 255, 0.3);
}
.google-maps{
    display: grid;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0,.7);
    margin: 2rem 1rem;
    border-radius: 0.8rem;
}
.google-maps iframe{
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
}